{% extends "layout/base.html" %} {% block content %}
<div class="container">
  <form action="{% url 'emp_delete' data.id %}" method="post">
    {% csrf_token %}
    <h2>{{main_title}}</h2>
    <p>Name</p>
    <span class="display-6">{{data.first_name}} {{data.last_name}}</span>
    <p>Email</p>
    <address>{{data.email}}</address>
    <p>Department</p>
    <address>{{data.dept|title}}</address>
    <div class="d-flex">
        <a class="btn btn-secondary me-auto" href="{% url 'emp_list' %}">Back</a>
        <a class="btn btn-primary" href="{% url 'emp_update' data.id %}">Update</a>
        <button class="btn btn-danger ms-2" type="submit">Delete</button>
    </div>
  </form>
</div>
{% endblock %}
